wrapper{
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  flex-grow: 1;
}
@media screen and (max-width: 600px){
  .aside-left{
    display: none;
  }
  .aside-right{
    display: none;
  }
  .feed{
    width: 100%;
  }
}
